.carousel__item {
	width: 50%;
	height: 425px;
	padding: 62px 72px;
	list-style: none;
	background-color: #f4f4f4;
	transition: background-color 0.5s ease;
}

.carousel__item:hover{
	background-color: #091242;
}

.carousel__item:hover .user__name, 
.carousel__item:hover .user__job,
.carousel__item:hover .carousel__desc{
	color: #Fff;
}


.user__wrapper {
	margin-left: 10px;
}

.user__name {
	margin: 0;
	margin-bottom: 2px;
	color: #091242;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	font-weight: 500;
	transition: color 0.5s ease;
}

.user__job {
	margin: 0;
	color: #091242;
	font-weight: 500;
	transition: color 0.5s ease;
}

.carousel__desc {
	margin-top: 24px;
	margin-bottom: 32px;
	color: #666c89;
	font-style: italic;
	font-weight: 500;
	line-height: 151.523%; /* 24.244px */
	transition: color 0.5s ease;
}

.swiper-button-prev {
	position: absolute;
	top: 50% !important;
	width: 46px !important;
	height: 46px !important;
	background-image: url("../../../assets/images/icons/leftIcon.svg");
	border-radius: 50%;
	z-index: 1000;
	opacity: 1;
}

.swiper-button-next::after {
	background-image: url('../../../assets/images/icons/leftIcon.svg');
}

.swiper-button-prev::after {
	background-image: url('../../../assets/images/icons/leftIcon.svg');
}
