.cause {
	background-image: url('../../assets/images/home/whyusBg.png');
	background-repeat: no-repeat;
	padding-bottom: 521px;
}

.cause__wrapper {
	position: relative;
	top: 366px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding-top: 85px;
	padding-left: 85px;
	padding-right: 93px;
	background-color: #fff;
}

.cause__content {
	width: 472px;
}

.cause__badge {
	position: relative;
	display: inline-block;
	padding: 3px 8px;
	background-color: rgba(232, 232, 232, 0.5);
	color: #1c1f35;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}

.cause__badge::before {
	position: absolute;
	top: 0;
	left: -4px;
	width: 4px;
	height: 23px;
	background: linear-gradient(
		127deg,
		#ffb629 0%,
		#ffda56 50.72%,
		#ffd7a6 100%
	);
	content: '';
}

.cause__title {
	margin: 0;
	margin: 12px 0;
	color: #1c1f35;
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	font-weight: 600;
}

.cause__desc {
	margin: 0;
	margin-bottom: 20px;
	color: #666c89;
	font-weight: 500;
}

.cause__list {
	margin: 0;
	margin-top: 39px;
	padding: 0;
	list-style: none;
}

.cause__item {
	position: relative;
	margin-bottom: 50px;
	padding-left: 73px;
	color: #1c1f35;
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
}

.cause__item::before {
	position: absolute;
	top: -15px;
	left: 0;
	width: 58px;
	height: 58px;
	background-image: url('../../assets/images/icons/deliveryIcon.svg');
	background-repeat: no-repeat;
	content: '';
}

.cause__item:last-child:before {
	position: absolute;
	top: -15px;
	left: 0;
	width: 58px;
	height: 58px;
	background-image: url('../../assets/images/icons/optimizeIcon.svg');
	background-repeat: no-repeat;
	content: '';
}

.cause__last-img {
	position: absolute;
	left: -80px;
	bottom: 0;
}
