.site-header {
	padding: 48px 0;
	background-color: #091242;
}

.site-header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 39px;
}

.site-header__item {
	display: flex;
	align-items: center;
}

.site-header__time {
	margin: 0;
	margin-left: 17px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 135.023%;
	text-decoration: none;
}
